<nav id="nav" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a id="text" class="navbar-brand animate__animated animate__bounce" style="font-family: 'Michroma', sans-serif;" href=""><i class="bi bi-houses-fill">
        WELL HOMES</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex" role="search">
        <button id="btn" routerLink="addhouse" class="btn btn-outline-light" type="submit">Add Home</button>
      </form>
    </div>
  </nav>

