#nav{
    background-image: url("https://i.postimg.cc/GmMD0gD4/bg1.png");
    height: 80px;
}
#text{
    color: white;
    margin-left: 30px;
}
#btn{
    margin-right: 30px;
}
#navbar{
    margin-left: 40px;
    
}
