    <footer class="">
        <div class="footer-content">
              <h6>FOLLOW US</h6><br> 
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </div>
        <div class="footer-bottom">
            <p>all rights reserved &copy;2006-2022 <a href="#">HouseHolds</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                      </ul>
                    </div>
        </div>
    </footer>