    <footer class="">


        <div class="footer-content">
          <div class="row">
            <div class="col-3">
              <h6>POPULAR LOCATIONS</h6>
              <P>kannur</P>
              <P>kozhikode</P>
              <P>ernakulam</P>
              <P>thrissur</P>
            </div>
            <div class="col-3">
              <h6>TRENDING LOCATIONS</h6>
              <P>trivandrum</P>
              <P>alappuzha</P>
              <P>wayanad</P>
              <P>kollam</P>
            </div>
            <div class="col-3">
              <h6>ABOUT US</h6>
              <P>about households</P>
              <P>careers</P>
              <P>contact us</P>
              <P>waah jobs</P>
            </div>
            <div class="col-3">
              <h6>FOLLOW US</h6><br> 
              <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
                <a href="#"><i class="fa fa-twitter"></i></a><br>
                <a href="#"><i class="fa fa-google-plus"></i></a><br>
                <a href="#"><i class="fa fa-youtube"></i></a>&nbsp;
                <a href="#"><i class="fa fa-linkedin-square"></i></a><br><br>
                <img src="https://statics.olx.in/external/base/img/playstore.png" alt="">&nbsp;
                <img src="https://statics.olx.in/external/base/img/appstore.png" alt="">

            </div>
          </div>
            <!-- <h3> Developer</h3>
            <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul> -->
        </div>


        <div class="footer-bottom">
            <p>all rights reserved &copy;2006-2022 <a href="#">HouseHolds</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                      </ul>
                    </div>
        </div>
    </footer>