<div class="full">
<div class="row">
  <div class="col-7">
    <div id="pass">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
             
              <img src=" https://i.postimg.cc/RCtdKt6W/slide66.jpg" width="100%" height="280px"  alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/9fZbyCTT/slide5.jpg" width="100%" height="280px" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/43Jt77Ch/slide88.jpg" width="100%" height="280px" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/VkSDLjkK/slide4.jpg" width="100%" height="280px" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/85LYkLw2/slide3.jpg" width="100%" height="280px" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
  </div>
  <div class="col-5">
    <p class="font">Surveys show that more than 70 percent of buyers find their home on the Internet.
       A web site is a MUST-have to sell your house fast.
        These days it is simple and inexpensive to find a host, name your street address as the url and wait for your buyer.
         But that is only the first step. </p>
  </div>
</div>
</div>
 