img{
    height: 400px;
}
#pass{
    
    margin-bottom: 1px;
    margin-top: 5px;
    /* width: 1350px;
    height: 410px; */
    border-radius: 20px;
    background-color:rgb(240, 238, 238);
}
img{
    object-fit:contain;
}
.font{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'La Belle Aurore', cursive;
    color: darkslategray;
}
.full{
    background-color:rgb(240, 238, 238);

}