  <!-- <div class="text-center mb-3">
    <button routerLink="" class="btn btn-outline-danger" type="submit">Cancel</button>&nbsp;&nbsp;&nbsp;
    <button onclick="updateHouse()" routerLink="addhouse" class="btn btn-outline-success" type="submit">Save</button>
  </div> -->
    


  <div class="container mt-3 mb-3 border border-dark p-2">
    <form action="" #UpdateHouseForm="ngForm" (ngSubmit)="updateHouse(UpdateHouseForm)" >
    <h3 class="text-center mb-3">Update House Details</h3>
    <div class="row">
        <div class="col-6">
          <label class="label" for="inputId">HOUSE NUMBER</label>
          <input name="id" [(ngModel)]="houseBody.id"  type="text" class="form-control" placeholder="house number">
        </div>
        <div class="col-6">
            <label class="label" for="name">IMAGE</label>
            <input name="image1" placeholder="URL" [(ngModel)]="houseBody.image1" type="text" class="form-control"  >
        </div>
    </div>
    <div class="row">
      
      <div class="col-6">
          <label class="label" for="name">PRICE</label>
          <input name="price" [(ngModel)]="houseBody.price" type="text" class="form-control">
      </div>
  </div>
        <div class="text-center">
            <button class="btn btn-primary m-3" type="submit">save changes</button>       
            <button routerLink="/" class="btn btn-secondary m-3">Discard</button>       
    </div>
</form>
</div>
