.carousel-inner{
    height: 250px;
    width: 400px;
    background-color: black;
}
#carouselExampleDark{
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    width: 300px;
}
.img-top{
    width: 200px;
     height: 250px;
}